@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Lobster);
body{
	background: url(http://stihiolubvi.ru/back.png);
}
h2 {
	font-family: 'Pacifico', cursive;
	text-transform: uppercase;
	letter-spacing: 1px;
}
pre {
	font-family: 'Lobster', cursive;
	font-size: 25px;
	padding-left: 30px;
}
img {
	padding-left: 31px;
	height: 410px;
}