.name {
	font-family: "Times New Roman", Times, serif;
	font-size: 150%;
	font-weight: bold;
}
.data {
	font-family: "Times New Roman", Times, serif;
	font-size: 110%;
	color: green;
}
.champion {
	font-family: "Times New Roman", Times, serif;
	font-size: 120%;
	color: red;
	font-weight: bold;
}
.text{
	color: blue;
	font-style: italic;
}